*{
    box-sizing: border-box;
    font-family: 'Overpass Mono', monospace;
    margin: 0;
    padding: 0;
}

/* Añandiendo estilos al header */
header{
    background: #6ad2f3;
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 1000;
}

h1{
    color: white;
    font-size: 40px;
    text-align: center;
    line-height: 80px;
}

/* Añadientdo estilos al section */

#section-one{
    background-image: url(../assets/wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 750px;
    background-attachment: fixed;
    padding-top: 99px;
    outline: 2px solid green;
}

/* anadiendo estilos a los divs */

.one-box, .two-box{
    background: white;
    float: left;
    width: 44.5%;
    margin-top: 2%;
    height: 250px;
}

.one-box{
   margin-left: 5%;
   margin-right: 0.5%;
   padding-left: 2%;
}

.two-box{
    margin-right: 5%;
    margin-left: 0.5%;
    padding: 2%;
}

#section-one .one-box h2{
    margin-top: 5%;
}

#section-one .one-box p{
    margin-top: 3%;
    margin-right: 3%;
}

#section-one .one-box hr{
    text-align: center;
    width: 95%;
    background: rgba(114, 111, 112, 0.2);
    padding: 0.5px;
    border: 0;
    margin: 3% 0 50px 0;
}

.letter-blue{
    color: rgb(28, 28, 177);
    font-weight: bold;
}

/* Agregando estilos al form */

#form{
    color: rgba(114, 111, 112, 0.4);
    font-size: 16px;
    height: 100px;
    width: 100%;
    border: 0;
}

#btn{
    padding: 10px;
    background: #6ad2f3;
    color: white;
    border-color: #6ad2f3;
    font-style: 20px;
    font-weight: bold;
    width: 100px;
    border-radius: 3px;
}

#accountant{
    float: right;
}

#btn, #accountant{
    margin-top: 50px;
}